@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
  }

  .btn4 span{
    transform: translateX(-101%);
    transition: transform .2s ease-in
  }
  
  .btn4:hover span{
    transform: translateX(0)
  }